/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  font-size: 1rem;
  font-family: 'system-ui', 'Arial Narrow', Arial, sans-serif; 
  background: linear-gradient(rgb(24, 24, 24), rgb(36, 36, 36)); 
  height: 100%;
}
body{
  
  text-align: center;
  color: white;
}
header{
  margin-bottom: 20px;
  text-align: center;
}
select{
  font-size: 4rem!important;
  width: 60%;
}
.section-container{
  display: flex;
  flex-direction: row;
  padding: 0 10vw;
}
.column{
  flex: 1;
  padding: 50px;
}
.item{
  padding-bottom: 5px;
}
img{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  border-radius: 5px;
}
span{
  font-weight: bold;
  font-size: 2rem;
}
#dog-name{
  text-decoration: none;
}
li{
  list-style: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (max-width:680px){
 html{
   height: auto;
 } 
 body{
    background: linear-gradient(rgb(24, 24, 24), rgb(36, 36, 36));
  }
  .section-container{
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
    height: 100%;
  }
  .column + .column > .item > ul{
    padding-bottom: 20px;
  }
}